// メディアクエリ
$breakpoints: (
    'sp': (max-width: 1079px),
    'pc': (min-width: 1080px)
) !default;

// 使用するカラー
$clr-main: #11439D;
$clr-accent: #FB8500;

$text-clr-main: #000000;

$bg-clr-main: #F7F7F7;
$bg-clr-sub: #fff;

